* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  line-height: 26px;
  text-rendering: optimizeLegibility;
}
.container{
  width: 800px;
  height: 786px;
  position: relative;
}
.contact{
  position: absolute;
  top:50px;
  right: 150px;
  width: 350px;
  height: 350px;
  background-color: #9272C2;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.header{
  padding: 15px 0;
  font-weight: 600;
  padding-right: 40px;
}
.icons{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 20px;
}
.icons p{
  margin-bottom: 0;
  margin-left: 25px;
  margin-right: 25px;

}
.icons img{
  margin-left: 20px; 
}
.header-two{
  font-weight: 600;
  border-bottom:2px solid white;
  display: inline-block;
  padding-bottom: 10px;
}
.form-heading{
  color: #573F7B;
  font-weight: 600;
  padding: 20px 0;
}
.contact-page{
  position: relative;
  background-color: #F5F4FA;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-top: 30px;
  
}
.form-control {
  background-color:rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  width: 300px;
  margin-left: 0;
  border: none;
}
::placeholder {
  color: rgba(108, 87, 139, 0.8)  !important;
}
.send-btn {
  color: #fff !important;
  background-color:#9272C2;
  border-radius: 5px;  
  font-size: 20px;
  padding: .313em 3.125em;
  margin-bottom: 30px;
}
.footer-icons {
  margin-top:10px;
}
@media only screen and (max-width: 1200px) {
  .container{
    width: 1040px;
    height: 986px;
    position: relative;
  }
}
@media only screen and (max-width: 1020px) {
  .container{
    width: 700px;
    height: 406px;
    margin-right: 40px;
    margin-top: 40px;
  }
  .contact{
    position: absolute;
    top:50px;
    right: 90px;
    width: 350px;
    height: 350px;
    background-color: #9272C2;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
}
 @media only screen and (max-width: 850px) {
  .container{
    width: 700px;
    height: 406px;
    margin-right: 40px;
    margin-top: 40px;
  }
  .contact{
    position: absolute;
    top:50px;
    right: 50px;
    width: 350px;
    height: 350px;
    background-color: #9272C2;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
}
@media only screen and (max-width: 796px) {
  .container{
    width: 600px;
    height: 406px;
    margin-right: 30px;
    margin-top: 40px;
  }
  .contact-page{
    position: relative;
    background-color: #F5F4FA;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-top: 30px;
    margin-left: -70px;
    
  }
  .contact{
    position: absolute;
    top:50px;
    right: 50px;
    width: 350px;
    height: 350px;
    background-color: #9272C2;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
  .form-control {
    background-color:rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    width: 250px;
    margin-left: 0;
    border: none;
  }
  
} 

  @media only screen and (max-width: 767px) {
    .container{
      width: 500px;
      height: 406px;
      margin-right: 20px;
      margin-top: 40px;
    }
    .contact-page{
      position: relative;
      background-color: #F5F4FA;
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      margin-top: 30px;
      margin-right: 70px;
      
    }
    .contact{
      position: absolute;
      top:500px;
      left: 10px;
      width: 400px;
      height: 350px;
      background-color: #9272C2;
      box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
    }
    .form-control {
      background-color:rgba(255, 255, 255, 0.95);
      border-radius: 5px;
      width: 250px;
      margin-left: 0px;
      border: none;
    }
    
  }   
   @media only screen and (max-width: 592px) {
    .container{
      width: 450px;
      height: 350px;
      margin-right: 15px;
      margin-left: 55px;
      margin-top: 40px;
    }
    .contact-page{
      position: relative;
      background-color: #F5F4FA;
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      margin-top: 30px;
      margin-right: -50px;
      
    }
    .contact{
      position: absolute;
      top:500px;
      left: 5px;
      right: 5px;
      width: 350px;
      height: 350px;
      background-color: #9272C2;
      box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
    }
    .form-control {
      background-color:rgba(255, 255, 255, 0.95);
      border-radius: 5px;
      width: 300px;
      margin-left: 0px;
      border: none;
    }
    
  }    
